body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

#img-div {
    text-align:center;
    background-color:gray;
    height:400px;
    width:100%;
    }
    #image{
    margin:auto;
    max-width: 50%;
    display: block;
   
    } 